*{
    margin: 0;
    padding: 0
}
a{
    background: transparent;
    text-decoration: none;
}
.finger{
    cursor: pointer;
    background-color: #539FFF;
    color: #fff;
}
::-webkit-scrollbar {
    display: none; 
}
.mt20{
    margin-top: 20px;
}
.oneHidden{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.twoHidden{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /*要显示的行数*/
    -webkit-box-orient: vertical;
}