*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: PingFangSC-Regular, PingFang SC;
}
a{
    background: transparent;
    text-decoration: none;
}
.finger{
    cursor: pointer;
    background-color: #539FFF;
    color: #fff;
}
.bodyCon{
    width: 1200px !important;
    margin: auto;
}
::-webkit-scrollbar {
    /* display: none;  */
}
.mt20{
    margin-top: 20px !important;
}
.mt40{
    margin-top: 40px !important;
}
.oneHidden{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.twoHidden{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /*要显示的行数*/
    -webkit-box-orient: vertical;
}
.threeHiddens{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bfg{
    background: #fff !important;
}
.fwsix{
    font-weight: 600 !important;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #666 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
    background: #FCE13D !important;
    color: #57390F !important;
    border-color:#FCE13D !important;
}