*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: PingFangSC-Regular, PingFang SC;
}
a{
    background: transparent;
    text-decoration: none;
}
.finger{
    cursor: pointer;
    background-color: #539FFF;
    color: #fff;
}
.bodyCon{
    width: 1200px !important;
    margin: auto;
}
::-webkit-scrollbar {
    display: none; 
}
.mt20{
    margin-top: 20px !important;
}
.mt40{
    margin-top: 40px !important;
}
.oneHidden{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.twoHidden{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /*要显示的行数*/
    -webkit-box-orient: vertical;
}
.threeHiddens{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.logobg{
    background: url(../assets/logo.689b3684.png)  no-repeat ;
    background-size: 100% 100%;
    width: 150px;
    height: 50px;
    background-position: center 0;
}
.bfg{
    background: #fff !important;
}
